<h1>{{title}}</h1>

    <div id="nc-main" class="nc-main bg-cover bg-cc">
  
              <div class="full-wh">
                <app-starships></app-starships>
                <div class="flier"><img id="ship" src="../brownship.png"/></div>
                  <!-- STAR ANIMATION -->
                  <div class="bg-animation">
                      <div id='stars'></div>
                      <div id='stars2'></div>
                      <div id='stars3'></div>
                      <div id='stars4'></div>
                  </div><!-- / STAR ANIMATION -->
  
              </div>
    </div>
  



